 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Search Navbar Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
    <link rel="stylesheet" type="text/css" href="...vendor/bootstrap/css/bootstrap.min.css" />

        <base href="{{ app.request.scheme ~ '://' ~ app.request.httpHost }}" />
    
{% block stylesheets %}

                     {% stylesheets output='http://localhost:8080/my_project/web/css/app.css' filter='?yui_css scss'
'scss/app.scss' 
  'vendor/bootstrap/css/bootstrap.min.css'
  'css/font-awesome/css/font-awesome.min.css'
                     'css/google2.css'%}
  <link rel="stylesheet" href="   {{  asset_url  }}" type="text/css" media="all"/>
                     {% endstylesheets %}
                     
{% endblock %}
   
{% javascripts'http://localhost:8080/my_project/web/vendor/js/bootstrap*' output='bootstrap/js/bootstrap.min.js'
%}
  <script type="text/javascript" src="   {{  asset_url   }}"></script>
{% endjavascripts %}
    
 
</head>
<body>

<div class="container">

<div class="page-header">
    <h2>SEO <small>Website for SEO analyse</small></h2>
</div>

<!--  Navbar - START -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">By ConsultBelieve</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{path("form")  }}">Form url</a></li>
            <li><a href="{{path("title")  }}">result</a></li>        
        </ul>
        </div>        
    </div>
</nav>

<!--  Navbar - END -->

</div>
{% block body %}
    
<div class="container">
        <h3>Url Form</h3>

    <div class="well">
        {{ form(form) }}
        {{ form_widget(form.send, { 'label': 'Click me' }) }}
    </div>
    
  </div>
{% endblock %}

{% block body2 %}
    
    
    
{% endblock %}
{% javascripts 'http://localhost:8080/my_project/web/vendor/js/*' output='js/jquery2.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
  {% javascripts 'http://localhost:8080/my_project/web/vendor/js/bootstrap*' output='bootstrap/js/bootstrap.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
   
    
   
</body>
</html>
     
