
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
  

{% block body %}
   
   
 
   

    l'url is :{{ url }} <br><br><br>
    
     
     and title is :{{ title}}<br><br><br>
     
     
     and h1 is :{{ h1}}<br><br><br>
   
   
     {% for tag in tags %}
       and description  is :{{ tag.description|e }}<br><br><br>
      {% else %}
        <li><em>no description found</em></li>
    {% endfor %}  
   
   
    {% for tag in tags %}
 
       and images  is :{{  img  }}
   
    {% else %}
        <li><em>no alt found</em></li>
    {% endfor %}  
     
       
       
       
       
    
{% endblock %}
     
     
     
     
</html>
    
